<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/donation.css">
    <title>Donation Page</title>
</head>
<body>
    <nav class="navbar-main-container">
        <div class="navbar-contaner"> 
            <div class="logoNepContainer">
                <img src="../static/images/nepal.png" alt="" class="logoNepal">
            </div>
            <div class="navbar">
                <li><a href=><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="">Search</a></li>
                <li><a href="">For Individuals  <i class="fa-solid fa-chevron-down iconDown"></i></a></li>
                <li><a href="#hero">For StartUp</a></li>
                <li><a href="../static/images/logo.jpeg"><img src="../static/images/logo.jpeg" class="logo" alt=""></a></li>
                <li><a href="">How it works</a></li>
                <li><a href="/logout">Sign Out</a></li>
                <li><a href="" class="btn-start-parivartan"><b>Begin a Start Parivartan</b></a></li>  
            </div>
            <div></div>
        </div>
    </nav>
    <section class="content">
        <div class="container-items">
            <div class="main_img"> 
                <img src="../static/images/football3.avif" alt="">
            </div>
            <div class="sub_img1"> 
                <img src="../static/images/rupesh.jpg" alt="">
            </div>
            <div class="sub_img2"> 
                <img src="../static/images/football1.jpg" alt="">
            </div>
            <div class="sub_img3"> 
                <img src="../static/images/football2.jpg" alt="">
            </div>
            <div class="item_title"> 
                <h3 class="main_title">Naya Batash Football Club</h3>
                <p class="sub_title"><i>We teach what they want to learn</i></p>
            </div>
            <div class="description"> 
                <p>Our football club relies on the generosity of supporters, fans, and sponsors to thrive. Donations and funding are vital for sustaining our operations, developing young talent, and maintaining top-tier facilities. Your contributions directly impact our ability to compete at the highest levels of the sport and provide opportunities for aspiring athletes to grow and excel. By supporting our club, you become an integral part of our journey towards success, fostering a sense of community, teamwork, and sportsmanship. Your generosity not only fuels our present endeavors but also lays the foundation for a bright future filled with sporting achievements and memorable experiences both on and off the field.</p>
                <div class="donation_collected">
                    <div class="price">
                        <p>Rs. 96,400</p>
                        <p>Rs. 1,20,000</p>
                    </div>
                    <div class="rate">
                        <div class="rate_line"></div>
                    </div>
                </div>
                <div class="highPay">
                    <p>The highest funding we have received</p>
                    <div class="fund_price">
                        <a href="">Rs. 4777</a>
                        <a href="">Rs. 4901</a>
                        <a href="">Rs. 3207</a>
                        <a href="">Rs. 4238</a>
                        <a href="">Rs. 4766</a>
                        <a href="">Rs. 3205</a>
                        <a href="">Rs. 4522</a>
                        <a href="">Rs. 4755</a>
                    </div>
                </div>
            </div>
            <div class="pay_btn"> 
                <div class="input_amt">
                    <input type="number" placeholder="Insert the amount you want to fund" id="input_amt">
                </div>
                <button type="button" id="pay">Begin a Start Parivartan</button>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/donation.js"></script>

</body>
</html>