<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/success.css">
    <title>Success Page</title>
</head>
<body>
    <div class="payment">
        <div class="pay-container">
            <h2>Thank you. Your help Is <b style="color: rgb(103, 209, 103);">SUSCCESSFULY RECEIVED</b></h2>
            <img src="../static/images/paymentSuccess.avif" alt="">
            <div class="price center">
                <h3 >You paid   <h2 style="color: rgb(103, 209, 103);">{{amount}}</h2></h3>
            </div>
            <a class="center" href="/Donation"><<< Go Back</a>
        </div>
    </div>
</body>
</html>